<!-- {{item.item.itemPackingType}} -->
<div  *ngIf="item">
  <div style=" width: 400px; margin: 0 auto; margin-bottom: 20px;">
    <nz-upload
     
      nzType="drag"
      [nzMultiple]="true"
      nzAction="https://api.cloudinary.com/v1_1/dkfnaltqp/image/upload"
      (nzChange)="selectFile($event)"
    >
    <ng-container *ngIf="!item.item.itemImage">
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
    </ng-container>
      <img  style="width: 23rem;" [src]="item.item.itemImage || ''" alt="">
    </nz-upload>
    
  </div>


<div nz-row [nzGutter]="8" style=" margin-top: 30px;">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label class="label" style="width: 180px;font-size: 18px;  text-align: left; ">Name:</label>
        <nz-form-control>
          <input nz-input placeholder="please enter item name"  [(ngModel)]="item.item.itemName" style="font-size: 16px; height: 32px; width: 28rem;"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px; text-align: left; font-size: 18px;">Tasty tags:</label>
        <nz-form-control>
          
          <nz-select
          
            style="font-size: 16px; width: 28rem;"
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="item.item.itemProfileTastyTags"
            >
            <!-- formControlName="itemProfileTastyTags" -->
            <nz-option *ngFor="let item of listOfOptionForTastyTags" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList >and {{ selectedList.length }} more selected</ng-template>


        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px;  text-align: left;  font-size: 18px;">Category:</label>
        <nz-form-control >
          <nz-select style="font-size: 16px; height: 24px; width: 28rem;" nzPlaceHolder="Please select a Category" [(ngModel)]="item.categoryId">
            <nz-option *ngFor="let el of categories" [nzValue]="el._id" [nzLabel]="el.categoryName" ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>


    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px; text-align: left; font-size: 18px;">Delivery:</label>
        <nz-form-control>
          
          <nz-select
          
            style="font-size: 16px; width: 28rem;"
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="item.item.typeOfFoods"
            >
            <!-- formControlName="itemProfileTastyTags" -->
            <nz-option *ngFor="let item of listOfOptionForTypeOfFood" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList >and {{ selectedList.length }} more selected</ng-template>


        </nz-form-control>
      </nz-form-item>
    </div>
  
  </div>

  <div nz-row [nzGutter]="8">
         
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px; text-align: left; font-size: 18px;">Portion size:</label>
        <nz-form-control>
          <nz-select nzPlaceHolder="Please select a Category" style="font-size: 16px; width: 28rem; height: 32px; " [(ngModel)]="item.item.itemPortionSize">
            <nz-option *ngFor="let el of portionSizes" [nzValue]="el" [nzLabel]="el" ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label  style="width: 180px; text-align: left;  font-size: 18px;">Preparation time:</label>
        <nz-form-control>
          <input nz-input placeholder="please enter preparation time" style="font-size: 16px; height: 32px; width: 18rem;" [(ngModel)]="item.item.itemPreparationTime"/>
          <select name="" id="" style="font-size: 16px; height: 32px; width: 8rem; margin-left: 2rem; border-color: rgb(190, 186, 186);" [(ngModel)]="itemPreparationTimeInMinAndHour">
            <option value="minutes">Minutes</option>
            <option value="hours">Hours</option>
          </select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label  style="width: 180px; text-align: left;  font-size: 18px;">Serving temp (°C):</label>
        <nz-form-control>
          <input nz-input placeholder="please enter serving temp" style="font-size: 16px; height: 32px; width: 28rem" [(ngModel)]="item.item.servingTemperature" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label  style="width: 180px; text-align: left;  font-size: 18px;">Lasting time:</label>
        <nz-form-control>
          <input nz-input placeholder="please enter lasting time"  style="font-size: 16px; height: 32px; width: 18rem;" [(ngModel)]="item.item.itemLastingTime"/>
          <select name="" id="" style="font-size: 16px; height: 32px; width: 8rem; margin-left: 2rem; border-color: rgb(190, 186, 186);" [(ngModel)]="lastingtimeInMinAndHour">
            <option value="minutes" >Minutes</option>
            <option value="hours" >Hours</option>
          </select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label  style="width: 180px;text-align: left;   font-size: 18px;">Selling price:</label>
        <nz-form-control>
          <input nz-input placeholder="please enter the price" style="font-size: 16px; height: 32px; width: 28rem;" [(ngModel)]="item.item.itemPrice" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label  style="width: 180px; text-align: left;  font-size: 18px;">Total calories:</label>
        <nz-form-control>
          <input nz-input placeholder="please enter the calories" style="font-size: 16px; height: 32px; width: 28rem;" [(ngModel)]="item.item.itemCalories"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px; text-align: left;   font-size: 18px;">Allergens:</label>
        <nz-form-control>
        

          <nz-select
          style="font-size: 16px; height: 32px; width: 28rem;"
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="item.item.itemDietaryRestrictions"
          >
            <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
        </nz-form-control>
      </nz-form-item>
      
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px;  text-align: left;  font-size: 18px;">Packing type:</label>
        <nz-form-control >
          <nz-select nzPlaceHolder="Please select a box" style="font-size: 16px; height: 32px; width: 28rem;" [(ngModel)]="item.item.itemPackingType.boxName" (ngModelChange)="onPackingChange()">
            <nz-option  *ngFor="let el of packingBox.deliveryBox" [nzValue]="el.boxName" [nzLabel]="el.boxName" ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    
  </div>

  <div nz-row [nzGutter]="8" >
         
    <div nz-col nzSpan="12">
      <nz-form-item>
        <label style="width: 180px; text-align: left;   font-size: 18px;">Meal time:</label>
        <nz-form-control>
         
          <nz-select
            style="font-size: 16px; height: 32px; width: 28rem;"
            [nzMaxTagCount]="3"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="item.item.timeOfDay"
            >
            <!-- [(ngModel)]="listOfSeletedValueForMealTime" -->
            <nz-option style=" font-size: 16px;" *ngFor="let item of listOfOptionForMealTime" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedList>and {{ selectedList.length }} more selected</ng-template>


        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <label  style="width: 180px; text-align: left;  font-size: 18px;">Description:</label>
        <nz-form-control>
          <textarea
            [(ngModel)]="item.item.itemDescription"
            nz-input
            placeholder="please enter  description"
            [nzAutosize]="{ minRows: 4, maxRows: 4 }"
            style="width: 1130px; font-size: 16px;"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
<!-- 
  <div *ngFor="let item of items; let i = index">
    <input [(ngModel)]="item[i]" placeholder="" />
    <button (click)="removeItem(i)">Remove</button>
  </div> -->
  <hr style=" border-top: 1px solid #038851;">
  <h2 style="margin-bottom: 15px; font-size: 22px;">Ingredients and preparation instruction</h2>

  <div *ngFor="let ingredient of listOfIngredient">
  <div *ngFor="let ingredient of item.item.ingredients.rawIngredients; let i = index">
      <!-- (change)="onIngredientChange(i)" -->
      <select style="width:250px;  border-color: rgb(190, 186, 186); height: 32px; margin-left: 70px; font-size: 16px;" [(ngModel)]="ingredient.ingredientName" (change)="onIngredientChange(i)"   nzPlaceHolder="input search text">
        <option value="" disabled selected hidden style="color: rgb(190, 186, 186);">select ingredient</option>
        <option *ngFor="let item of ingredentList.ingredients" [value]="item.ingredientName" [selected]="ingredient.ingredientName === item.ingredientName">{{item.ingredientName}}</option>
        <!-- <option *ngFor="let ingredient of item" [value]="ingredient.ingredientName" [selected]="ingredient.ingredientName === item.ingredientName">{{ ingredient.ingredientName }}</option> -->
      </select>

      <input class="inputStyle" style="width:80px; height: 32px; border:1px solid rgb(190, 186, 186); margin-left: 32px; margin-right: 6px; font-size: 16px;" type="text" placeholder="quantity" [value]="1" [(ngModel)]="ingredient.quantity">

      <select style="width:130px; font-size: 16px; height: 32px;   border-color: rgb(190, 186, 186);"
        [(ngModel)]="ingredient.unitOfStock" nzPlaceHolder="Please select">
        <option value="" disabled selected hidden>unit</option>
        <option *ngFor="let unit of measurementToolArray" [value]="unit" [selected]="ingredient.unitOfStock === unit">{{ unit }}</option>
      </select>

     
      <button style="margin-left: 8px;  border:none; cursor: pointer; background-color: #fff;" type="button"(click)="removeIngredient(i)"><span style="font-size: 28px; padding-top: 20px; color:rgb(190, 186, 186);" nz-icon nzType="minus-circle" nzTheme="outline"></span></button>
    </div>
    <!-- <button type="button" (click)="addIngredientBatch()" style="background-color: #26a366;height: 35px; margin-top: 22px; margin-left: 70px; color: #fff; font-size: 20px; border:none; cursor: pointer;">Add Ingredient</button> -->
  </div>
  <button (click)="addIngredient()" style="background-color: #26a366;height: 35px; margin-top: 22px; margin-left: 70px; color: #fff; font-size: 20px; border:none; cursor: pointer;">Add Ingredient</button>

<h2 style="margin-bottom: 15px; margin-top: 40px; font-size: 22px;">Add recipes</h2>
  
  <div *ngFor="let ingredient of listOfIngredient">
  <div *ngFor="let ingredient of item.item.ingredients.recipes; let i = index">
      <!-- (change)="onIngredientChange(i)" -->
      <select style="width:250px;  border-color: rgb(190, 186, 186); height: 32px; margin-left: 70px; font-size: 16px;" [(ngModel)]="ingredient.ingredientName"  nzPlaceHolder="input search text">
        <option value="" disabled selected hidden style="color: rgb(190, 186, 186);">select ingredient</option>
        <option *ngFor="let item of recipes" [value]="item.recipeName" [selected]="ingredient.recipeName === item.recipeName">{{item.recipeName}}</option>
        <!-- <option *ngFor="let ingredient of item" [value]="ingredient.ingredientName" [selected]="ingredient.ingredientName === item.ingredientName">{{ ingredient.ingredientName }}</option> -->
      </select>

      <input class="inputStyle" style="width:80px; height: 32px; border:1px solid rgb(190, 186, 186); margin-left: 32px; margin-right: 6px; font-size: 16px;" type="text" placeholder="quantity" [value]="1" [(ngModel)]="ingredient.quantity">

      <select style="width:130px; font-size: 16px; height: 32px;   border-color: rgb(190, 186, 186);"
        [(ngModel)]="ingredient.unitOfStock" nzPlaceHolder="Please select">
        <option value="" disabled selected hidden>unit</option>
        <option *ngFor="let unit of measurementToolArray" [value]="unit" [selected]="ingredient.unitOfStock === unit">{{ unit }}</option>
      </select>

     
      <button style="margin-left: 8px;  border:none; cursor: pointer; background-color: #fff;" type="button"(click)="removeRecipes(i)"><span style="font-size: 28px; padding-top: 20px; color:rgb(190, 186, 186);" nz-icon nzType="minus-circle" nzTheme="outline"></span></button>
    </div>
    <!-- <button type="button" (click)="addIngredientBatch()" style="background-color: #26a366;height: 35px; margin-top: 22px; margin-left: 70px; color: #fff; font-size: 20px; border:none; cursor: pointer;">Add Ingredient</button> -->
  </div>
  <button (click)="addRecipes()" style="background-color: #26a366;height: 35px; margin-top: 22px; margin-left: 70px; color: #fff; font-size: 20px; border:none; cursor: pointer;">Add Recipe</button>




  <hr style=" border-top: 2px solid #038851; margin-top: 25px;">
  <h2 style="margin-bottom: 15px; font-size: 22px;">Add Ons</h2>

  <div *ngFor="let ingredient of listOfIngredient">
  <div *ngFor="let ingredient of item.item.options.add; let i = index">
      <!-- (change)="onIngredientChange(i)" -->
      <select style="width:250px;  border-color: rgb(190, 186, 186); height: 32px; margin-left: 70px; font-size: 16px;" [(ngModel)]="ingredient.ingredientName" (change)="onIngredientChangeForAddOns(i)"   nzPlaceHolder="input search text">
        <option value="" disabled selected hidden style="color: rgb(190, 186, 186);">select ingredient</option>
        <option *ngFor="let item of ingredentList.ingredients" [value]="item.ingredientName" [selected]="ingredient.ingredientName === item.ingredientName">{{item.ingredientName}}</option>
        <!-- <option *ngFor="let ingredient of item" [value]="ingredient.ingredientName" [selected]="ingredient.ingredientName === item.ingredientName">{{ ingredient.ingredientName }}</option> -->
      </select>

      <input class="inputStyle" style="width:80px; height: 32px; border:1px solid rgb(190, 186, 186); margin-left: 32px; margin-right: 6px; font-size: 16px;" type="text" placeholder="quantity" [value]="1" [(ngModel)]="ingredient.quantity">

      <select style="width:130px; font-size: 16px; height: 32px;   border-color: rgb(190, 186, 186);"
        [(ngModel)]="ingredient.unitOfStock" nzPlaceHolder="Please select">
        <option value="" disabled selected hidden>unit</option>
        <option *ngFor="let unit of measurementToolArray" [value]="unit" [selected]="ingredient.unitOfStock === unit">{{ unit }}</option>
      </select>

     
      <button style="margin-left: 8px;  border:none; cursor: pointer; background-color: #fff;" type="button"(click)="removeAddOns(i)"><span style="font-size: 28px; padding-top: 20px; color:rgb(190, 186, 186);" nz-icon nzType="minus-circle" nzTheme="outline"></span></button>
    </div>
    <!-- <button type="button" (click)="addIngredientBatch()" style="background-color: #26a366;height: 35px; margin-top: 22px; margin-left: 70px; color: #fff; font-size: 20px; border:none; cursor: pointer;">Add Ingredient</button> -->
  </div>
  <button (click)="addAddOns()" style="background-color: #26a366;height: 35px; margin-top: 22px; margin-left: 70px; color: #fff; font-size: 20px; border:none; cursor: pointer;">Add Ingredient</button>
</div>