<h1>Hello,  {{item.item.itemName}}</h1>

<form>
  <!-- <div class="border-div" > -->
    <!-- for Uploading Image -->
    <!-- <div style="object-fit: cover;"> -->
    <div style=" width: 400px; margin: 0 auto; margin-bottom: 20px;">
      <nz-upload
       
        nzType="drag"
        [nzMultiple]="true"
        nzAction="https://api.cloudinary.com/v1_1/dkfnaltqp/image/upload"
        (nzChange)="selectFile($event)"
      >
      <ng-container *ngIf="!item.item.itemImage">
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
      </ng-container>
        <img  style="width: 23rem;" [src]="item.item.itemImage || ''" alt="">
      </nz-upload>
      
    </div>

    <div nz-row [nzGutter]="8" style=" margin-top: 30px;">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <label class="label" style="width: 180px;font-size: 18px;  text-align: left; ">Name:</label>
          <nz-form-control>
            <input nz-input placeholder="please enter item name"  [(ngModel)]="item.item.itemName" style="font-size: 16px; height: 32px; width: 28rem;"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <label style="width: 180px; text-align: left; font-size: 18px;">Tasty tags:</label>
          <nz-form-control>
            
            <nz-select
            
              style="font-size: 16px; width: 28rem;"
              [nzMaxTagCount]="3"
              [nzMaxTagPlaceholder]="tagPlaceHolder"
              nzMode="multiple"
              nzPlaceHolder="Please select"
              [(ngModel)]="item.item.itemProfileTastyTags"
            >
              <nz-option *ngFor="let item of listOfOptionForTastyTags" [nzLabel]="item" [nzValue]="item"></nz-option>
            </nz-select>
            <ng-template #tagPlaceHolder let-selectedList >and {{ selectedList.length }} more selected</ng-template>


          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

</form>