<nz-layout >
    <nz-sider nzWidth="15%" nzCollapsible  [(nzCollapsed)]="isCollapsed"  class="sidebar-bg-color">
      <app-nz-sider></app-nz-sider>
      
    </nz-sider>
    <!-- nz-Sider -->
  
     <nz-layout>
       <nz-header>
         <span
           class="trigger"
           nz-icon
           [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
           (click)="isCollapsed = !isCollapsed"
         ></span>
       </nz-header>
       <!-- nz-headerForTrigger -->
  
       <nz-content>
        <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="Create Schedule"
        nzOkText="Add"
        nzCancelText="Cancel"
        (nzOnOk)="handleOk()"
        (nzOnCancel)="handleCancel()"
        [nzStyle]="{ width: '700px' }"
        >
        <ng-container *nzModalContent>
          <!-- category Form -->
          <app-modal-form></app-modal-form>
          <!-- category Form -->
        </ng-container>
        </nz-modal>
  
      <app-test-component [menuItems1]="AllMenuItems[0]"></app-test-component>
        
    
       </nz-content>
  
     </nz-layout>
  </nz-layout>
