.navbar-container {
    width: 100dvw;
    height: 5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  h2 {
    margin-left: 30px;
  }
    
  .nav-button {
    margin-right: 30px;
  }
  
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }