<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <div style="display: flex;" formArrayName="ingredients">
    <div class="ingredient-div">
      <nz-form-item *ngFor="let control of listOfControl; let i = index">
        <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i === 0" [nzFor]="control.controlInstance">
          <p style="font-size: 20px; text-align: center; width: 150px;">Ingredients</p>
        </nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="20" [nzOffset]="i === 0 ? 0 : 4" nzErrorTip="Please input passenger's name or delete this field">
          <div class="display-flex">
            <div class="passenger-input">
              <nz-select nzPlaceHolder="Please choose the type" style="font-size: 23px;" formControlName="ingredientName">
                <nz-option *ngFor="let ingredient of ingredients" [nzValue]="ingredient" [nzLabel]="ingredient"></nz-option>
              </nz-select>
            </div>
            <input nz-input formControlName="quantity"  class="passenger-input-sm" placeholder="qty" />
            <nz-select nzPlaceHolder="units" style="font-size: 20px; width: 120px; margin-right: 8px;" formControlName="unitOfStock">
              <nz-option *ngFor="let el of convertionList" [nzValue]="el" [nzLabel]="el"></nz-option>
            </nz-select>
            <span nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></span>
          </div>
        </nz-form-control>
      </nz-form-item>
      <!-- Add more form controls for other ingredients as needed -->

      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
          <button nz-button class="add-button" (click)="addField($event)">
            <span nz-icon nzType="plus"></span>
            Add Ingredient
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>

    
  </div>
  <!-- <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
      <button nz-button nzType="primary" [nzLoading]="loading" (click)="submitForm()">Submit</button>
    </nz-form-control>
  </nz-form-item> -->
</form>



<div>
  <h2 style="margin-left: 200px;"> Material Calculator</h2>
  <nz-form-item>
    <label class="label" style="width: 180px; text-align: center; font-size: 20px;">Cost per unit :</label>
    <nz-form-control>
      <input nz-input placeholder="" style="font-size: 20px; height: 38px;" formControlName="costPerUnit" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="label" style="width: 180px; text-align: center; font-size: 20px;">Calories per unit :</label>
    <nz-form-control>
      <input nz-input placeholder="" style="font-size: 20px; height: 38px;" formControlName="caloriesPerUnit" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="label" style="width: 180px; text-align: center; font-size: 20px;">Total cost :</label>
    <nz-form-control>
      <input nz-input placeholder="" style="font-size: 20px; height: 38px;" formControlName="totalCost" />
    </nz-form-control>
  </nz-form-item>
</div>