


<!-- Include only FontAwesome 5 -->


<div class="ft-recipe">
    <div class="ft-recipe__thumb">
        <img [src]="src" alt="Strawberry Waffle">
        <h2 class="recipe-title">{{itemName}}</h2>
        <a (click)="editMenuItem(itemId)" class="viewRecipeBtn" >View Recipe</a>
    </div>
    <!-- class="ft-recipe__content" -->
    
    <div >
        <!-- class="content__header" -->
        <div style=" margin-left: 15px; margin-top: 10px; width: 400px; ">
            <p  style="font-size: 18px;">
                There’s no better way to celebrate May being National Strawberry Month than by sharing a 
            </p>    
                
               
                    <div style="display: flex;">
                    <div class="li-style" >
                        <span style="font-size: 58px;">.</span>
                        <span class="" style="color: #05CC79;">{{preparationTime}}</span>
                        <span class="" style="padding-left: 8px;">Min</span>
                    </div>
                    <div class="li-style">
                        <span style="font-size: 58px;">.</span>
                        <span class="" style="color: #05CC79;">{{ingredients}}</span>
                        <span class="" style="padding-left: 8px;">Ingredients</span>
                    </div>
                    <div class="li-style">
                        <span style="font-size: 58px;">.</span>
        
                        <span class="" style="color: #05CC79;">4-6</span>
                        <span class="" style="padding-left: 8px;">Serving</span>
                    </div>
                    <div class="li-style">
        
                        <a (click)="deleteMenuItem(itemId)"><span  style="font-size:28px;color:#a11809; margin-top: 42px; margin-left: 34px;" nz-icon nzType="delete" nzTheme="outline"></span></a>
                    </div>
                  </div>
        </div>
       
          
        
       
    </div>
</div>

<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="1420"
    [nzVisible]="visible"
    nzTitle="Edit Item"
    [nzFooter]="footerTpl"
    (nzOnClose)="close()"
>
    <form nz-form *nzDrawerContent>
        <!-- ... (unchanged) -->
    </form>

    <ng-template #footerTpl>
        <div style="float: right; margin-right: 30px;">
            <button nz-button style="margin-right: 8px;" (click)="close()" class="close-btn">Cancel</button>
            <button nz-button nzType="primary" (click)="updateMenuItem(1)" class="Add-btn">Update Item</button>
        </div>
    </ng-template>
</nz-drawer>
