



      <!-- <section class="section-meals"> -->
        <div class="container grid grid--3-cols margin-right-md">
         
      
          <div class="meal">
          <div class="viewDiv">
            <img
                [src]="src"
                 class="meal-img"
                 alt="Avocado Salad"
                 />
             
                <a (click)="editMenuItem(id)" class="viewBtn">View item</a>
                
            </div>
            <div class="meal-content">
              <!-- <div class="meal-tags">
                <span class="tag tag--vegan">Vegan</span>
                <span class="tag tag--paleo">Paleo</span>
              </div> -->
              <p class="meal-title">{{itemName}}</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <span nz-icon nzType="fire" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemCalories}}</strong> calories</span>
                </li>
                <li class="meal-attribute">
                  <span nz-icon nzType="pie-chart" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemPortionsize}}</strong></span>
                </li>
                <li class="meal-attribute">
                  <span nz-icon nzType="dollar" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemPrice}}</strong>$</span>
                </li>
              </ul>
            </div>

            <!-- <div class="li-style"> -->
              <a (click)="deleteMenuItem(id)" class="deletebtn"><span  style="font-size:28px;color:#a11809; margin-top: 20px; margin-left: 330px; margin-bottom: 8px;" nz-icon nzType="delete" nzTheme="outline"></span></a>
            <!-- </div> -->
          </div>
          
         
          
        </div>
    <!-- </section> -->
  
  


<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="1420"
    [nzVisible]="visible"
    nzTitle="Edit Item"
    [nzFooter]="footerTpl"
    (nzOnClose)="close()"
>
    <form nz-form *nzDrawerContent>
        <!-- ... (unchanged) -->
    </form>

    <ng-template #footerTpl>
        <div style="float: right; margin-right: 30px;">
            <button nz-button style="margin-right: 8px;" (click)="close()" class="close-btn">Cancel</button>
            <button nz-button nzType="primary" (click)="updateMenuItem(1)" class="Add-btn">Update Item</button>
        </div>
    </ng-template>
</nz-drawer>
