


<!-- Include only FontAwesome 5 -->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<div class="ft-recipe">
    <div class="ft-recipe__thumb">
        <img [src]="src" alt="Strawberry Waffle">
        <h2 class="recipe-title">{{itemName}}</h2>
        <a (click)="editMenuItem(itemId)" class="viewRecipeBtn" >View Recipe</a>
    </div>
    <div class="ft-recipe__content">
        <header class="content__header">
            <div class="row-wrapper">
                <!-- <div class="user-rating" style="margin-left: 60px"> <h2 class="recipe-title">$20</h2></div> -->
            </div>
            <ul class="recipe-details">
                <li class="recipe-details-item time ">
                    <i class="fas fa-clock"></i>
                    <span class="value" style="color: #05CC79;">{{preparationTime}}</span>
                    <span class="title">Minutes</span>
                </li>
                <li class="recipe-details-item ingredients">
                    <i class="fa fa-book"></i>
                    <span class="value" style="color: #05CC79;">{{ingredients}}</span>
                    <span class="title">Ingredients</span>
                </li>
                <li class="recipe-details-item servings">
                    <i class="fas fa-user"></i>
                    <span class="value" style="color: #05CC79;">4-6</span>
                    <span class="title">Serving</span>
                </li>
            </ul>
        </header>
        <p class="description" >
            There’s no better way to celebrate May being National Strawberry Month than by sharing a sweet treat with your pup!!! Strawberries...
        </p>
        <footer class="content__footer">
            <!-- <a (click)="editMenuItem(itemId)" >View Recipe</a> -->
            <!-- <a (click)="deleteMenuItem(itemId)"><i class="fa fa-remove" style="font-size:48px;color:red"></i></a> -->
            <a (click)="deleteMenuItem(itemId)"><i class="fa fa-remove" style="font-size:48px;color:#a11809; margin-left: 280px;"></i></a>
        </footer>
    </div>
</div>

<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="1420"
    [nzVisible]="visible"
    nzTitle="Edit Item"
    [nzFooter]="footerTpl"
    (nzOnClose)="close()"
>
    <form nz-form *nzDrawerContent>
        <!-- ... (unchanged) -->
    </form>

    <ng-template #footerTpl>
        <div style="float: right; margin-right: 30px;">
            <button nz-button style="margin-right: 8px;" (click)="close()" class="close-btn">Cancel</button>
            <button nz-button nzType="primary" (click)="updateMenuItem(1)" class="Add-btn">Update Item</button>
        </div>
    </ng-template>
</nz-drawer>
