
 
      <div class="border-div" style="margin-top: 20px;">
       
        <div nz-row [nzGutter]="8" class="mt" style="font-size: 25px;">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <label class="label" style="width: 180px;  text-align: center; font-size: 20px;">Name :</label>
              <nz-form-control>
                <input nz-input placeholder="please enter recipe name"  style="font-size: 20px; height: 38px;" [(ngModel)]="recipeName"/>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzSpan="12">
            <nz-form-item>
              <label style="width: 180px;  text-align: center; font-size: 20px;">Category :</label>
              <nz-form-control>
                <nz-select nzPlaceHolder="Please select a Category" style="font-size: 20px;" [(ngModel)]="categoryId">
                  <nz-option *ngFor="let el of category" [nzValue]="el" [nzLabel]="el"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>


        </div>
        <!-- <div nz-row [nzGutter]="8"> -->
         
          <!-- <div nz-col nzSpan="9" style="text-align: center; ">
            <input type="checkbox" name="nastedForIngredients" id="" style="transform: scale(1.5);">
            <label nz-checkbox [(ngModel)]="checked" style="font-size: 20px; margin-left: 10px;">Nested ( Can be used as an Ingredient )</label>
          </div> -->
          
        <!-- </div> -->

        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <label  style="width: 180px;  text-align: center; font-size: 20px;">Portion Size :</label>
              <nz-form-control>
                <input nz-input placeholder="please enter portion size" style="font-size: 20px; height: 38px;"   [(ngModel)]="recipeItemPortionsize"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <label  style="width: 180px; text-align: center; font-size: 20px; height: 38px;">Preparation Time :</label>
              <nz-form-control>
                <input nz-input placeholder="please enter preparation time" style="font-size: 20px;" [(ngModel)]="recipeItemPreparationtime"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
       
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <label  style="width: 180px;  text-align: center; font-size: 20px; ">Total Cost :</label>
              <nz-form-control>
                <input nz-input placeholder="please enter the cost" style="font-size: 20px; height: 38px;" [(ngModel)]="recipeItemCost"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <label  style="width: 180px;  text-align: center; font-size: 20px; ">Total Calories :</label>
              <nz-form-control>
                <input nz-input placeholder="please enter the calories" style="font-size: 20px; height: 38px;" [(ngModel)]="recipeItemCalories"/>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <label  style="width: 180px;  text-align: center; font-size: 20px;" >Description :</label>
              <nz-form-control>
                <textarea
                  [(ngModel)]="recipeItemDescription"
                  style="font-size: 20px;"
                  nz-input
                  placeholder="please enter  description"
                  [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <hr style=" border-top: 2px solid #038851;">
        <h2 style="margin-bottom: 25px; padding-left: 20px;">Ingredients And Preparation Instruction</h2>

        <app-add-ingredients-field #ingredients></app-add-ingredients-field>

      </div>















      <!-- </form> -->

      <!-- <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
          <button nz-button nzType="primary" (click)="close()">Submit</button>
        </div>
      </ng-template>
    </nz-drawer> -->
  
