
<app-navbar></app-navbar>
<nz-layout >
  <nz-sider nzWidth="15%" nzCollapsible  [(nzCollapsed)]="isCollapsed"  class="sidebar-bg-color">
    <app-nz-sider></app-nz-sider>
    
  </nz-sider>
  <!-- nz-Sider -->

   <nz-layout>
     <!-- <nz-header>
       <span
         class="trigger"
         nz-icon
         [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
         (click)="isCollapsed = !isCollapsed"
       ></span>
     </nz-header> -->
     <!-- nz-headerForTrigger -->

     <nz-content>


      
      
      <nz-drawer
        [nzBodyStyle]="{ overflow: 'auto' }"
        [nzMaskClosable]="false"
        [nzWidth]="920"
        [nzVisible]="visible"
        nzTitle="Schedule Time"
        [nzFooter]="footerTpl"
        (nzOnClose)="close()"
      >
        <form nz-form *nzDrawerContent (ngSubmit)="submitForm()">
        
      
          <div nz-row [nzGutter]="8"  style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <label style="width: 180px;font-size: 20px;  text-align: left;" >Start Day</label>
                <nz-form-control>
                  <input
                    nz-input
                    [(ngModel)]="startDay"
                    name="startDay"
                    placeholder="Enter start day"
                    style="font-size: 20px; height: 35px; width: 28rem;"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
      
          <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <label style="width: 180px;font-size: 20px;  text-align: left;">End Day</label>
                <nz-form-control>
                  <input
                    nz-input
                    [(ngModel)]="endDay"
                    name="endDay"
                    placeholder="Enter end day"
                    style="font-size: 20px; height: 35px; width: 28rem;"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
      
         
      
          <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <label style="width: 180px;font-size: 20px;  text-align: left;">Start Time</label>
                <nz-form-control>
                  <input
                    nz-input
                    [(ngModel)]="startTime"
                    name="startTime"
                    placeholder="Enter start time"
                    style="font-size: 20px; height: 35px; width: 28rem;"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
      
          <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <label style="width: 180px;font-size: 20px;  text-align: left;">End Time</label>
                <nz-form-control>
                  <input
                    nz-input
                    [(ngModel)]="endTime"
                    name="endTime"
                    placeholder="Enter end time"
                    style="font-size: 20px; height: 35px; width: 28rem;"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div nz-row [nzGutter]="8" class="mt" style="margin: 20px 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <label for="mealTimeName" style="width: 180px;font-size: 20px;  text-align: left; ">Schedule name :</label>
                <nz-form-control>
                  <input
                    nz-input
                    id="mealTimeName"
                    [(ngModel)]="mealTimeName"
                    name="mealTimeName"
                    placeholder="Enter meal time name"
                    style="font-size: 20px; height: 35px; width: 28rem;"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          

          <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <label  style="width: 180px; text-align: left;  font-size: 20px;">Description :</label>
                <nz-form-control>
                  <textarea
                    [(ngModel)]="description"
                    name="description"
                    nz-input
                    placeholder="please enter  description"
                    [nzAutosize]="{ minRows: 4, maxRows: 4 }"
                    style="width: 28rem; font-size: 20px;"
                  ></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
      
          <!-- <div nz-row [nzGutter]="8" class="mt" style="margin: 0 0 10px 0">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Meal Time ID</nz-form-label>
                <nz-form-control>
                  <input
                    nz-input
                    [(ngModel)]="mealTimeId"
                    name="mealTimeId"
                    placeholder="Enter meal time ID"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div> -->
      
        </form>
      
        <ng-template #footerTpl>
          <div style="float: right">
            <button nz-button class="close-btn" style="margin-right: 8px" (click)="close()">
              Cancel
            </button>
            <button nz-button nzType="primary" (click)="submitForm()" class="Add-btn">Submit</button>
          </div>
        </ng-template>
      </nz-drawer>
      
      <div style=" margin: 30px 20px 0px 20px;">
      <h2 style="font-size: 32px;">{{ tableTitle }}</h2>
      <nz-table
        #rowSelectionTable
        [nzData]="scheduleTimes"
        [nzFrontPagination]="frontPagination"
        [nzTotal]="totalNumberOfData"
        [nzPageIndex]="pageIndex"
        [nzPageSize]="pageSize"
        [nzShowPagination]="showPagination"
        [nzPaginationPosition]="paginationPosition"
        [nzPaginationType]="paginationType"
        [nzBordered]="showBorder"
        [nzOuterBordered]="outerBordered"
        [nzSize]="sizeOfTable"
        [nzLoading]="loadingStatus"
        [nzFooter]="tableFooter"
        [nzNoResult]="noResult"
        [nzShowQuickJumper]="showQuickJumper"
        [nzHideOnSinglePage]="hidePaginationOnSinglePage"
      >
        <thead>
          <tr style="font-size: 20px; font-weight: 500px;">
            <!-- <th>ID</th> -->
            <th >Schedule Name</th>
            <th >Start Day</th>
            <th >End Day</th>
            <th >Description</th>
            <th >Start Time</th>
            <th >End Time</th>
            <!-- <th>Meal Time ID</th> -->
            <th>Action</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data">
            <!-- <td>{{ data.mealTimeId }}</td> -->
            <td>{{ data.mealTimeName }}</td>
            <td>{{ data.startDay }}</td>
            <td>{{ data.endDay }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.startTime }}</td>
            <td>{{ data.endTime }}</td>
            <!-- <td>{{ data.mealTimeId }}</td> -->
      
            <td *ngIf="showDeleteButton" nz-td>
              <button
                nz-popconfirm
                nzPopconfirmTitle="Sure to delete?"
                (nzOnConfirm)="onDelete(data._id)"
                [ngClass]="{ 'delete-button': true }"
                style="font-size: 18px;"
              >
                Delete
              </button>
              <button style="margin-left: 15px; font-size: 18px;" (click)="onEdit(data)" [ngClass]="{ 'edit-button': true }">
                Edit
              </button>
            </td>
            <!-- <td *ngIf="showEditButton" nz-td>
              
            </td> -->
          </tr>
        </tbody>
      </nz-table>

    </div>
      
     
  
     </nz-content>

   </nz-layout>
</nz-layout>
