
<div class="mx-auto">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitFormForCategory()">        
        <div >
            <nz-form-item class="input-box-for-name">
                <nz-form-control nzErrorTip="Please input your category name!">
                    <label for="scheduleName" nzRequired style="font-size: 18px;">Category Name</label>    
                    <nz-input-group nzPrefixIcon="" >
                    <input formControlName="categoryName" nz-input placeholder=" Category name" class=""  style="font-size: 16px; height: 38px; margin-bottom: 10px; width: 25rem;" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>
</div>  



     
