<!-- <nz-sider nzWidth="15%" nzCollapsible  [(nzCollapsed)]="isCollapsed"  class="sidebar-bg-color"> -->
    
    <!-- <ul nz-menu nzTheme="light" nzMode="inline" >
      <li  nzTitle="Menus" nzIcon="dashboard" class="hover-color">
        <span class="sidebarIcons" nz-icon nzType="dashboard" nzTheme="outline"></span>Menus
        <ul>
          <li class="sidebarLi" nz-menu-item  (click)="onAllDay()">All Day</li>
          <li class="sidebarLi" nz-menu-item (click)="onBreakfast()">Breakfast</li>
          <li class="sidebarLi" nz-menu-item (click)="onLunch()">Lunch</li>
          <li class="sidebarLi" nz-menu-item (click)="onDinner()">Dinner</li>
        </ul>
      </li> -->
      <!-- <li nz-submenu nzTitle="Create" nzIcon="form" class="hover-color">
        <ul>
          <li nz-menu-item (click)="open()" >Menu Item Recipe</li>
          <li nz-menu-item (click)="openRecipeDrawer()">Ingredient Recipe</li>
          <li nz-menu-item (click)="showModal()">Schedule</li>
          <li nz-menu-item (click)="showModalForCategory()">Category</li>
        </ul>
      </li> -->
      <!-- <li  nzTitle="Tables" nzIcon="form" class="hover-color">
        <span class="sidebarIcons" nz-icon nzType="table" nzTheme="outline"></span>Tables
        <ul>
          <li class="sidebarLi" nz-menu-item (click)="recipe()">Ingredient Recipe</li>
          <li class="sidebarLi" nz-menu-item (click)="schedule()">Schedule</li>
          <li class="sidebarLi" nz-menu-item (click)="category()">Category</li>
        </ul>
      </li>
    </ul> -->
  <!-- </nz-sider> -->

  <div style="display: flex;">
    <ul nz-menu nzMode="inline">
      <span class="sidebarIcons" nz-icon nzType="dashboard" nzTheme="outline"></span>Menus
      <li nz-menu-item [nzSelected]="true" nzMatchRouter>
              <a routerLink="/allDay">All Day</a>
      </li>
      <li nz-menu-item nzMatchRouter>
              <a routerLink="/BreakFast">Breakfast</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/Lunch">Lunch</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/Dinner">Dinner</a>
            </li>
       <span class="sidebarIcons" nz-icon nzType="table" nzTheme="outline"></span>Tables
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/recipe">Ingredient Recipe</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/category">Category</a>
            </li>
    </ul>
    <div style="flex-grow: 1;">
      <router-outlet></router-outlet>
    </div>
  </div>


    <!-- //Modal For Schedule  -->
   <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Create Schedule"
      nzOkText="Add"
      nzCancelText="Cancel"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleCancel()"
      [nzStyle]="{ width: '900px' }"
    >
        <ng-container *nzModalContent>
          <!-- (submitedFormData)="submitForm($event)" -->
        <app-modal-form  #modalForm></app-modal-form>

        <!-- //Start -->

        <!-- //End -->
          
        </ng-container>
      </nz-modal>

    <!-- //Modal For category  -->

    <nz-modal
      [(nzVisible)]="isVisibleForCategory"
      nzTitle="Create category"
      nzOkText="Add"
      nzCancelText="Cancel"
      (nzOnOk)="handleOkForCategory()"
      (nzOnCancel)="handleCancelForCategory()"
      [nzStyle]="{ width: '900px' }"
    >
        <ng-container *nzModalContent>
          <!-- (submitedFormData)="submitForm($event)" -->
        <app-category-form  #modalFormForCategory></app-category-form>

        <!-- //Start -->

        <!-- //End -->
          
        </ng-container>
    </nz-modal>



      <!--For  Menu Item Drawer  -->
      <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="1420"
      [nzVisible]="visible"
      nzTitle="Create Items"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >

    
    <form nz-form *nzDrawerContent (ngSubmit)="createItems()">
     
      
      <app-item-recipe-form #itemForm></app-item-recipe-form>

      
    </form>

    <ng-template #footerTpl>
      <div style="float: right; margin-right: 30px; ">
        <button nz-button style="margin-right: 8px;" (click)="close()"   class="close-btn">Cancel</button>
        <button nz-button nzType="primary"  (click)="createItems()" class="Add-btn">Add Item</button>
      </div>
    </ng-template>
  </nz-drawer>


  <!-- For Recipe Drawer  -->

  <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="1420"
      [nzVisible]="visibleRecipeDrawer"
      nzTitle="Create Recipe"
      [nzFooter]="footerTpl1"
      (nzOnClose)="closeRecipe()"
    >

    
    <form nz-form *nzDrawerContent  (ngSubmit)="createRecipeItems()">
      
    <app-recipe-form #recipeForm></app-recipe-form>
      
    </form>

    <ng-template #footerTpl1>
      <div style="float: right; margin-right: 30px;">
        <button nz-button style="margin-right: 8px;" (click)="closeRecipe()"  class="close-btn">Cancel</button>
        <button nz-button nzType="primary" (click)="createRecipeItems()"  class="Add-btn">Add Recipe</button>
      </div>
    </ng-template>
  </nz-drawer>
