/* .sidebar-bg-color{
    background:#fff;
    height: 100vh;
    
    /* width: 25% !important;
    border: 1px solid black; 
}
nz-sider{
    width: 300px;
    color: black;
}


.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    
   
  }
  
  .trigger:hover {
    color: #05CC79;
  }
  ul{
    font-size: 20px;
  }
  

  

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

 

  .flex{
    display: flex;
  }

  .Add-btn{
    width: 120px;
    background-color: #038851;
  }
  .Add-btn:hover{
    background-color: #05CC79;
  }
  .close-btn{
    width: 80px;
    color:#fff;
    background-color: #05CC79;
  }
  .close-btn:hover{
    background-color: #038851;
  }
  .ant-layout-sider-trigger .ng-star-inserted{
    display: none;
  }
  .sidebarIcons{
    font-size: 16px;
    margin-left: 23px;
    margin-right: 10px;
    margin-top: 18px;
    padding-bottom: 4px;
  
  }
  .sidebarLi{
    padding-left: 49px !important;
    font-size: 16px;
  } */

  ul {
    width: fit-content;
    min-width: 12dvw;
    height: 100dvh;
  }
  li a{
    padding-left: 4px;
  }
  
  .sidebarIcons{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    
  }