
      .dynamic-delete-button {
        cursor: pointer;
        position: relative;
        top: 4px;
        font-size: 24px;
        color: #999;
        transition: all 0.3s;
      }

      .dynamic-delete-button:hover {
        color: #777;
      }

      .passenger-input {
        width: 30%;
        margin-right: 8px;
      }
      .passenger-input-sm{
        width: 12%;
        margin-right: 8px;
      }

      [nz-form] {
        max-width: 900px;
      }

      .add-button {
        width: 60%;
      }
      .display-flex{
        display: flex;
      }
    