
      .dynamic-delete-button {
        cursor: pointer;
        position: relative;
        top: 4px;
        font-size: 24px;
        color: #999;
        transition: all 0.3s;
      }

      .dynamic-delete-button:hover {
        color: #777;
      }

      .passenger-input {
        width: 30%;
        margin-right: 8px;
        font-size: 20px;
      }
      .passenger-input-sm{
        width: 12%;
        margin-right: 8px;
        font-size: 18px;
      }

      [nz-form] {
        max-width: 900px;
      }

      .add-button {
        width: 25%;
        background-color:#038851 ;
        color: #fff;
        padding: 6px 4px;
        font-size: 18px;
      }
      .add-button:hover{
        background-color: #02643B;
      }
      .display-flex{
        display: flex;
      }
    