
      .dynamic-delete-button {
        cursor: pointer;
        position: relative;
        top: 4px;
        font-size: 24px;
        color: #999;
        transition: all 0.3s;
      }

      .dynamic-delete-button:hover {
        color: #777;
      }

      .passenger-input {
        width: 35%;
        margin-right: 8px;
        font-size: 18px;
      }
      .passenger-input-sm{
        width: 12%;
        height: 32px;
        margin-right: 8px;
        font-size: 18px;
      }

      
      .ingredient-div{
        width: 850px;
      }

      .add-button {
        width: 25%;
        background-color:#038851 ;
        color: #fff;
        height: 40px;
        /* padding: 6px 4px; */
        font-size: 18px;
      }
      .add-button:hover{
        background-color: #02643B;
      }
      .display-flex{
        display: flex;
      }
    