
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item *ngFor="let control of listOfControl; let i = index">
        <nz-form-label [nzXs]="24" [nzSm]="4" *ngIf="i === 0" [nzFor]="control.controlInstance">
          <p style="font-size: 20px; text-align: center;">Ingredients</p>
        </nz-form-label>
        <nz-form-control
          [nzXs]="24"
          [nzSm]="20"
          [nzOffset]="i === 0 ? 0 : 4"
          nzErrorTip="Please input passenger's name or delete this field."
        >
          <!-- <input
            class="passenger-input"
            nz-input
            placeholder="placeholder"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance"
          /> -->
          <div class="display-flex">
            <!-- <nz-form-label>Type Of Food</nz-form-label> -->
            <div class="passenger-input">
              <nz-select nzPlaceHolder="Please choose the type" style="font-size: 20px;">
                <nz-option *ngFor="let ingredient of ingredients" [nzValue]="ingredient" [nzLabel]="ingredient" ></nz-option>
              </nz-select>
            </div>
          
          <input
            class="passenger-input-sm"
            nz-input
            placeholder="qty"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance"
          />
          <input
            class="passenger-input-sm"
            nz-input
            placeholder="units"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance"
          />
          <input
            class="passenger-input"
            nz-input
            placeholder="placeholder"
            [attr.id]="control.id"
            [formControlName]="control.controlInstance"
          />
        
          <span
            nz-icon
            nzType="minus-circle-o"
            class="dynamic-delete-button"
            (click)="removeField(control, $event)"
          ></span>
        </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
          <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
            <span nz-icon nzType="plus"></span>
            Add Ingredient
          </button>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  