<!-- <nz-sider nzWidth="15%" nzCollapsible  [(nzCollapsed)]="isCollapsed"  class="sidebar-bg-color"> -->
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="inline" >
      <li nz-submenu nzTitle="Schedules" nzIcon="dashboard" class="hover-color">
        <ul>
          <li nz-menu-item  (click)="onAllDay()">All Day</li>
          <li nz-menu-item (click)="onBreakfast()">Breakfast</li>
          <li nz-menu-item (click)="onLunch()">Lunch</li>
          <li nz-menu-item (click)="onDinner()">Dinner</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Create" nzIcon="form" class="hover-color">
        <ul>
          <li nz-menu-item (click)="open()" >Menu Item Recipe</li>
          <li nz-menu-item (click)="showModal()">Schedule</li>
        </ul>
      </li>
    </ul>
  <!-- </nz-sider> -->

   <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Create Schedule"
      nzOkText="Add"
      nzCancelText="Cancel"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleCancel()"
      [nzStyle]="{ width: '900px' }"
    >
        <ng-container *nzModalContent>

        <app-modal-form (submitedForm)="submitForm()"></app-modal-form>
          
        </ng-container>
      </nz-modal>



      <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="920"
      [nzVisible]="visible"
      nzTitle="Create"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >

    
    <form nz-form *nzDrawerContent>
      
      <app-item-recipe-form></app-item-recipe-form>
      
    </form>

    <ng-template #footerTpl>
      <div style="float: right">
        <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
        <button nz-button nzType="primary" (click)="close()">Submit</button>
      </div>
    </ng-template>
  </nz-drawer>

  
