<!-- <nz-sider nzWidth="15%" nzCollapsible  [(nzCollapsed)]="isCollapsed"  class="sidebar-bg-color"> -->
    <div class="logo"><img src="../../../assets/images/logo.jpg" alt="" style="width: 100px; margin-left: 10px;"></div>
    <ul nz-menu nzTheme="light" nzMode="inline" >
      <li nz-submenu nzTitle="Menus" nzIcon="dashboard" class="hover-color">
        <ul>
          <li nz-menu-item  (click)="onAllDay()">All Day</li>
          <li nz-menu-item (click)="onBreakfast()">Breakfast</li>
          <li nz-menu-item (click)="onLunch()">Lunch</li>
          <li nz-menu-item (click)="onDinner()">Dinner</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Create" nzIcon="form" class="hover-color">
        <ul>
          <li nz-menu-item (click)="open()" >Menu Item Recipe</li>
          <li nz-menu-item (click)="showModal()">Schedule</li>
          <li nz-menu-item (click)="openRecipeDrawer()">Ingredient Recipe</li>
        </ul>
      </li>
    </ul>
  <!-- </nz-sider> -->

   <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Create Schedule"
      nzOkText="Add"
      nzCancelText="Cancel"
      (nzOnOk)="handleOk()"
      (nzOnCancel)="handleCancel()"
      [nzStyle]="{ width: '900px' }"
    >
        <ng-container *nzModalContent>
          <!-- (submitedFormData)="submitForm($event)" -->
        <app-modal-form (submitedFormData)="submitedForm($event)"></app-modal-form>
          
        </ng-container>
      </nz-modal>


      <!--For  Menu Item Drawer  -->
      <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="1420"
      [nzVisible]="visible"
      nzTitle="Create Items"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
    >

    
    <form nz-form *nzDrawerContent>
      
      <app-item-recipe-form></app-item-recipe-form>
      
    </form>

    <ng-template #footerTpl>
      <div style="float: right; margin-right: 30px;">
        <button nz-button style="margin-right: 8px;" (click)="close()"  class="close-btn">Cancel</button>
        <button nz-button nzType="primary" (click)="close()"  class="Add-btn">Add Item</button>
      </div>
    </ng-template>
  </nz-drawer>


  <!-- For Recipe Drawer  -->

  <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="1420"
      [nzVisible]="visibleRecipeDrawer"
      nzTitle="Create Recipe"
      [nzFooter]="footerTpl"
      (nzOnClose)="closeRecipe()"
    >

    
    <form nz-form *nzDrawerContent>
      
    <app-recipe-form></app-recipe-form>
      
    </form>

    <ng-template #footerTpl>
      <div style="float: right; margin-right: 30px;">
        <button nz-button style="margin-right: 8px;" (click)="closeRecipe()"  class="close-btn">Cancel</button>
        <button nz-button nzType="primary" (click)="close()"  class="Add-btn">Add Item</button>
      </div>
    </ng-template>
  </nz-drawer>
