  <div class="body">
  <div class="container">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <h2 class="login-title">Login</h2>
      <nz-form-item class="input-box">
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group >
            <input type="text"  formControlName="userName" placeholder="Username" required />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="input-box">
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group >
            <input type="password" formControlName="password" placeholder="Password" required/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <button nz-button type="submit" class="login-btn" routerLink="dashboard">Log in</button>
      <!-- Or
      <a>register now!</a> -->
    </form>
  
  </div>
 </div>     