
<form [formGroup]="orderForm" (ngSubmit)="submitForm()" class="form-container">
   
  <div>
    <!-- Ingredient Batches -->
    <div formArrayName="ingredientBatches">
      <div *ngFor="let batch of ingredientBatchesArray.controls; let i = index" [formGroupName]="i" class="form-group">
        <!-- <label for="ingredientId">Ingredient ID:</label>
        <input type="text" formControlName="ingredientId"> -->
  
        <label for="ingredientName">Ingredient Name:</label>
        <select formControlName="ingredientName" (change)="onIngredientChange(i)">
          <option *ngFor="let ingredient of ingredentList.ingredients" [value]="ingredient.ingredientName">{{ ingredient.ingredientName }}</option>
        </select>
  
        <label for="quantity">qunatity</label>
        <input type="text" [value]="1" formControlName="quantity">
  
        <label for=" unitOfStock">unit</label>
        <select formControlName="unitOfStock">
            <option *ngFor="let ingredient of measurementToolArray" [value]="ingredient">{{ ingredient }}</option>
          </select>
       
        
       
        <button type="button" (click)="removeIngredientBatch(i)">Remove Ingredient Batch</button>
      </div>
      <button type="button" (click)="addIngredientBatch()">Add Ingredient Batch</button>
    </div>
  
    <!-- Delivery Box Batches -->
  
  
    <!-- Submit Button -->
    <button type="submit">Submit</button>
</div>


    <div>
        <div>
            <label for="">cost Per Unit</label>
            <input type="text" [value]="totalCostPerUnit">
        </div>
        <div>
            <label for="">calorie Per Unit</label>
            <input type="text" [value]="totalCaloriesPerUnit">
        </div>
        <div>
            <label for="">profit margin</label>
            <input type="text"  formControlName="percentage">
        </div>
        <div>
            <label for="">total cost</label>
            <input type="text" [value]="totalCost">
        </div>
      </div>
  </form>

  
