



      <!-- <section class="section-meals"> -->
        <div class="container grid grid--3-cols margin-right-md">
         
      
          <div class="meal" style="margin-left: 25px;">
          <div class="viewDiv">
            <img
                [src]="src"
                 class="meal-img"
                 alt="Avocado Salad"
                 />
             
                <a (click)="editMenuItem(id)"  class="viewBtn">View item</a>
                
            </div>
            <div class="meal-content">
              <!-- <div class="meal-tags">
                <span class="tag tag--vegan">Vegan</span>
                <span class="tag tag--paleo">Paleo</span>
              </div> -->
              <p class="meal-title">{{itemName}}</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <span nz-icon nzType="fire" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemCalories}}</strong> Calories</span>
                </li>
                <li class="meal-attribute">
                  <span nz-icon nzType="pie-chart" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemPortionSize}}</strong></span>
                </li>
                <li class="meal-attribute" *ngIf="itemPrice">
                  <span nz-icon nzType="dollar" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemPrice}}</strong>$</span>
                </li>
              </ul>
            </div>

            <!-- <div class="li-style"> -->
              <a (click)="deleteMenuItem(id)" class="deletebtn"><span  style="font-size:28px;color:#a11809; margin-top: 20px; margin-left: 330px; margin-bottom: 8px;" nz-icon nzType="delete" nzTheme="outline"></span></a>
            <!-- </div> -->
          </div>
          
         
          
        </div>
    <!-- </section> -->
  
  

    


   
    <nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="1420"
    [nzVisible]="visible"
    nzTitle=""
    [nzFooter]="footerTpl"
    (nzOnClose)="close()"
   >
<ng-container *nzDrawerContent>

  <div style="margin: 0 auto; margin-top: 80px; display: flex;">
    <div style="width: 500px; ">
      <img
      style="height: 900px; border-radius: 28px;"
          [src]="src"
          class="meal-img"
          alt="Avocado Salad"
      />
    </div>
    <!-- information div -->
    <div style=" width: 700px; margin-left: 70px;">

      <h1
      style="font-size: 48px;color: #333;font-weight: 600;"
      >{{itemName}}</h1>
      <div style="display: flex; justify-content: space-evenly; margin-right: 50px; margin-top: 40px;">
        <div>
          <div style="display: flex;">
            <span class="iconDetails" nz-icon nzType="fire" nzTheme="outline"></span>
            <p class="peraStyle">{{itemCalories}}</p>
          </div>
          <span class="spanStyle" style="padding-left: 30px;">Calories</span>
        </div>
        <div>
          <div style="display: flex; text-align: center;">
            
            <span class="iconDetails" nz-icon nzType="pie-chart" nzTheme="outline"></span>
            <p class="peraStyle">{{itemPortionSize}}</p>
          </div>
          <span class="spanStyle" style="padding-left: 70px;">Size</span>
        </div>
        <div>
          <div style="display: flex;">
           
            <span  class="iconDetails" nz-icon nzType="field-time" nzTheme="outline"></span>
            <p class="peraStyle">{{preparationTime}}</p>
          </div>
          <span class="spanStyle" style="padding-left: 15px;">Minutes</span>
        </div>
        <div>
          <div style="display: flex;">
            <span class="iconDetails" nz-icon nzType="fire" nzTheme="outline"></span>
            <p class="peraStyle">{{itemservingTemp}}</p>
          </div>
          <span class="spanStyle">Celsius</span>
        </div>
        <div>
          <div style="display: flex;">
            <span  class="iconDetails" nz-icon nzType="field-time" nzTheme="outline"></span>
            <p class="peraStyle">{{itemLastingTime}}</p>
          </div>
          <span class="spanStyle">Minutes</span>
        </div>

      </div>

      <div style="height: 400px;  margin-top: 48px; margin-left: 5px;">
        <h2 style="font-size: 32px; color: #000; font-weight: 500;">Ingredients</h2>
        <hr style=" border-top: 2px solid #038851;">

        <ul style="list-style: circle; font-size: 28px; margin-top: 18px; margin-left: 30px;">
          <li *ngFor="let ingredient of ingredients">{{ingredient.ingredientName}}</li>
        </ul>
      </div>

      <hr style=" border-top: 2px solid #038851;">
      <div style="display: flex; margin-left: 20px;">
        <span nz-icon nzType="dollar" nzTheme="outline" class="iconDetails"></span>
        <p style="font-size: 32px;color: #333;font-weight: 500; margin-left: 5px;">${{itemPrice}}</p>
      </div>

    </div >

    
  </div> 
</ng-container>     

    <ng-template #footerTpl>
        <!-- <div style="float: right; margin-right: 30px;">
            <button nz-button style="margin-right: 8px;" (click)="close()" class="close-btn">Cancel</button>
            <button nz-button nzType="primary" (click)="updateMenuItem(1)" class="Add-btn">Update Item</button>
        </div> -->
    </ng-template>
</nz-drawer>

