
      <!-- <section class="section-meals"> -->
        <!-- class=" grid grid--3-cols margin-right-md" -->
        <div >
         
      
          <div class="meal" >
          <div class="viewDiv">
            <img
                [src]="src"
                 class="meal-img"
                 alt="Avocado Salad"
                 />
             
                <a (click)="viewMenuItem()"  class="viewBtn">View item</a>
                
            </div>
            <div class="meal-content">
              <p class="meal-title">{{itemName}}</p>
              <ul class="meal-attributes">
                <li class="meal-attribute">
                  <span nz-icon nzType="fire" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemCalories}}</strong> Calories</span>
                </li>
                <li class="meal-attribute">
                  <span nz-icon nzType="pie-chart" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemPortionSize}}</strong></span>
                </li>
                <li class="meal-attribute" *ngIf="itemPrice">
                  <span nz-icon nzType="dollar" nzTheme="outline" class="meal-icon"></span>
                    <span><strong>{{itemPrice}}</strong>£</span>
                </li>
              </ul>
            </div>

            <!-- <div class="li-style"> -->
              <a (click)="deleteMenuItem(id)" class="deletebtn"><span style="font-size:22px; color:#a11809;  position: absolute; right: 6px; bottom: 8px;" nz-icon nzType="close-circle" nzTheme="outline"></span></a>
            <!-- </div> -->
          </div>
          
         
          
        </div>
    <!-- </section> -->
    <!-- //Drawer For edit -->

    <!-- <nz-drawer
    [nzBodyStyle]="{ overflow: 'auto' }"
    [nzMaskClosable]="false"
    [nzWidth]="1420"
    [nzVisible]="visibleForEdit"
    nzTitle=""
    [nzFooter]="footerTpl1"
    (nzOnClose)="closeForEdit()"
   >
<ng-container *nzDrawerContent> -->

  <!-- <app-edit-menu-item [item]="item" #EditItem></app-edit-menu-item> -->
  <!-- <app-test-edit-item [item]="item" #EditItem></app-test-edit-item>
</ng-container>     

    <ng-template #footerTpl1>
        <div style="float: right;">
            <button nz-button style="margin-right: 8px;" (click)="closeForEdit()" class="close-btn">Cancel</button>
            <button nz-button nzType="primary" (click)="updateMenuItem()" class="Add-btn">Update Item</button>
        </div>
    </ng-template>
    </nz-drawer> -->