<nz-layout >
  <nz-sider nzWidth="15%" nzCollapsible  [(nzCollapsed)]="isCollapsed"  class="sidebar-bg-color">
    <app-nz-sider></app-nz-sider>
    
  </nz-sider>
  <!-- nz-Sider -->

   <nz-layout>
     <nz-header>
       <span
         class="trigger"
         nz-icon
         (click)="isCollapsed = !isCollapsed"
         [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
         ></span>
        </nz-header>
     <!-- nz-headerForTrigger -->

     <nz-content>
      
     
  
     </nz-content>

   </nz-layout>
</nz-layout>