.sidebar-bg-color{
    background:#fff;
    height: 100vh;
    
    /* width: 25% !important;
    border: 1px solid black; */
}
nz-sider{
    width: 300px;
    color: black;
}
/* nz-sider:hover{
    color: #05CC79;
} */

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    
   
  }
  
  .trigger:hover {
    color: #05CC79;
  }
  ul li{
    font-size: 20px;
  }
  

  ul li:hover {
    color: #05CC79;
  }
  /* .hover-color:hover{
    color: #05CC79;
  } */

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  h2{
    font-size: 28px;
    font-weight: 600;
    margin-left: 32px;
    margin-top: 15px;
  }

  .flex{
    display: flex;
  }

  /* Show Menu Items Styles */

  .show-menus-items{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(18% - 10px), 1fr));
    gap: 4px; */
    display: flex;
}

@media screen and (max-width: 768px) {
  .show-menus-items {
    max-width: 750px;
    grid-template-columns: repeat(auto-fill, minmax(calc(33% - 10px), 1fr));
    /* Adjust the column width for smaller screens */
  }
}


.category-Name{
    font-size: 20px;
    margin-left: 25px;
}
.category-heading {
  position: relative;
}
.editBtn,
.deleteBtn {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right value as needed */
  transform: translateY(-50%);
  cursor: pointer;
}

.deleteBtn {
  right: 40px; 
}
.editBtn{
  right: 90px;
}
/* .editBtn{
  padding-left: 1800px;
  padding-right: 20px;
  cursor: pointer;
}
.deleteBtn{
  cursor: pointer;
} */
.AddBtnForCategory{
  margin-left: 28px;
  border-radius: 11px;
  height: 280px;
  width: 220px;
  position: relative;
  background-color: #f0f2f5;
  /* border: 1px solid black; */
}
.AddBtnForCategoryIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  border: none;
  cursor: pointer;
}

.hoverDelete{
  font-size: 22px !important;
  margin-bottom: 8px;
}

.hoverDelete:hover{
  color: red !important;
  
}
.headerForMealTime{
  text-transform: capitalize; 
  font-size: 28px;
  font-weight: bold;
  text-align: center;

}
.Add-btn{
  width: 120px;
  background-color: #038851;
}
.Add-btn:hover{
  background-color: #05CC79;
}
.close-btn{
  width: 80px;
  background-color: #05CC79;
}
.close-btn:hover{
  background-color: #038851;
}
.AddCategoryBtn{
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 15px;
  border: none;
  background-color: #05CC79;
  padding: 8px 15px;
  cursor: pointer;

}