.sidebar-bg-color{
    background:#fff;
    height: 100vh;
}
nz-sider{
    width: 300px;
    color: black;
}
  ul li{
    font-size: 20px;
  }
  
  ul li:hover {
    color: #05CC79;
  }

  nz-header {
    background: #fff;
    padding: 0;
  }

  h2{
    /* font-size: 28px; */
    font-weight: 600;
    margin-left: 32px;
    /* margin-top: 15px; */
  }

  /* Show Menu Items Styles */

  .show-menus-items{
    display: flex;
    overflow: auto;
    /* border: 1px solid red; */
    /* place-content: stretch; */
       
}
.show-menus-items::-webkit-scrollbar{
  /* width: 0; */
  overflow: hidden;
}

.category-Name{
    font-size: 20px;
    margin-left: 25px;
}
.category-heading {
  position: relative;

}

.editBtn,
.deleteBtn {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust the right value as needed */
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
}

.deleteBtn {
  right: 40px; 
  color:#a11809;
}
.editBtn{
  right: 70px;
}
/* .editBtn{
  padding-left: 1800px;
  padding-right: 20px;
  cursor: pointer;
}
.deleteBtn{
  cursor: pointer;
} */
.AddBtnForCategory{
  float: left !important;
  margin-left: 28px;
  margin-right: 30px;
  border-radius: 11px;
  min-height: 280px;
  min-width: 220px ;
  position: relative;
  background-color: #f0f2f5;
  border: 1px solid black;
}
.AddBtnForCategoryIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  border: none;
  color: #26a366;
  cursor: pointer;
}

.hoverDelete{
  font-size: 22px !important;
  margin-bottom: 8px;
}

.hoverDelete:hover{
  color: red !important;
  
}
.headerForMealTime{
  text-transform: capitalize; 
  font-size: 28px;
  font-weight: bold;
  text-align: center;

}
.Add-btn{
  width: 120px;
  background-color: #038851;
}
.Add-btn:hover{
  background-color: #05CC79;
}
.close-btn{
  width: 80px;
  background-color: #05CC79;
}
.close-btn:hover{
  background-color: #038851;
}
.AddCategoryBtn{
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 15px;
  border: none;
  background-color: #05CC79;
  padding: 8px 15px;
  cursor: pointer;

}