<div class="mx-auto">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">

      <!-- forDay Select  -->
      <div *ngFor="let day of days">
        <label>
          <input type="checkbox" formControlName="startDay" [value]="day.value" (change)="onDaySelect($event, day.value)" [checked]="isSelected(day.value)">
          {{ day.name }}
        </label>
      </div>
      <!-- <button nz-button nzType="primary" (click)="onSubmit()">Submit</button> -->
      <!-- forDay Select  -->

            <!-- //Upload a image -->

            <!-- <nz-upload
              class=""
              nzType="drag"
              [nzMultiple]="true"
              [nzLimit]="2"
              [nzSize]="600"
              [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
              nzAction="https://jsonplaceholder.typicode.com/posts/"
              (nzChange)="handleChange($event)">
              <p class="ant-upload-drag-icon">
                Upload Banner Image
              </p>
              <p class="ant-upload-text w-96">Click or drag file to this area to upload</p>
            </nz-upload> -->


            <!-- //Upload a image -->
            <div class="flex">
            <nz-form-item class="mt-4">
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-form-label for="startTime" nzRequired>Start Time</nz-form-label>    
                <nz-input-group nzPrefixIcon="" class="w-96 py-2">
                  <input formControlName="startTime" nz-input placeholder="Start Time" class="p-2 text-xl" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item class="mt-4">
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-form-label for="endTime" nzRequired>End Time</nz-form-label>    
              <nz-input-group nzPrefixIcon="" class="w-96 py-2">
                <input formControlName="endTime" nz-input placeholder="End Time" class="p-2 text-xl" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
           
                
            </div>

            <div class="flex">

              <nz-form-item class="mt-4">
                <nz-form-control nzErrorTip="Please input your username!">
                  <nz-form-label for="scheduleName" nzRequired>Schedule Name</nz-form-label>    
                <nz-input-group nzPrefixIcon="" class="w-96 py-2">
                  <input formControlName="scheduleName" nz-input placeholder="Name" class="p-2 text-xl" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control  nzHasFeedback nzErrorTip="Please write something here!">
                    <nz-form-label  nzRequired>Description</nz-form-label>
                  <nz-textarea-count [nzMaxCharacterCount]="2000">
                    <textarea formControlName="description" nz-input rows="2" placeholder="write any thing" class="w-full text-xl"></textarea>
                  </nz-textarea-count>
                </nz-form-control>
              </nz-form-item>

            </div>
            <!-- <nz-form-item class="absolute  bottom-5 right-16">
                <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
                  <button nz-button nzType="primary" class="w-52 h-12 rounded-md text-2xl text-center">Add</button>
                </nz-form-control>
              </nz-form-item> -->
           


           
            </form>
       </div>  
     