
<div class="mx-auto">
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
     
      <div class="flex">
        <nz-form-item class="input-box-for-time">
          <nz-form-control nzErrorTip="Please input your username!">
            
            <div class="label" style="margin-bottom: 5px;">
              <label for="startTime" nzRequired>Start Day</label> 
            </div>   
           <nz-input-group nzPrefixIcon="" class="w-96 py-2">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a day" formControlName="startDay">
              <nz-option *ngFor="let day of days" [nzValue]="day" [nzLabel]="day"></nz-option>
            </nz-select>
          </nz-input-group>
         
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="input-box-for-time">
        <nz-form-control nzErrorTip="Please input your username!">
          
            <div class="label" style="margin-bottom: 5px;">
              <label for="endTime" nzRequired >End Day</label>  
            </div>
        <nz-input-group nzPrefixIcon="" class="w-96 py-2">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a day" formControlName="endDay">
            <nz-option *ngFor="let day of days" [nzValue]="day" [nzLabel]="day"></nz-option>
          </nz-select>
        </nz-input-group>
        
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="input-box-for-time">
      <nz-form-control nzErrorTip="Please input your username!">
        
        <div class="label">
          <label for="startTime" nzRequired>Start Time</label> 
        </div>   
        <nz-input-group nzPrefixIcon="" class="w-96 py-2">
        <input formControlName="startTime" nz-input placeholder="Start Time" class="p-2 text-xl" />
        <!-- [(ngModel)]="time" -->
        <!-- <nz-time-picker
          formControlName="startTime"
          [nzUse12Hours]="true"
          (ngModelChange)="log($event)"
          nzFormat="h:mm a"
        ></nz-time-picker> -->
        </nz-input-group>
     
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="input-box-for-time">
    <nz-form-control nzErrorTip="Please input your username!">
      
        <div class="label">
          <label for="endTime" nzRequired>End Time</label>  
        </div>
    <nz-input-group nzPrefixIcon="" class="w-96 py-2">
      <input formControlName="endTime" nz-input placeholder="End Time" class="" />
      <!-- <nz-time-picker
          formControlName="startTime"
          [nzUse12Hours]="true"
          (ngModelChange)="log($event)"
          nzFormat="h:mm a"
        ></nz-time-picker> -->
    </nz-input-group>
    
  </nz-form-control>
</nz-form-item>
      </div>
      
            <div class="mt-4">
            <div class="flex">
            

          <nz-form-item class="input-box-for-name">
            <nz-form-control nzErrorTip="Please input your username!">
              <label for="scheduleName" nzRequired>Schedule Name</label>    
            <nz-input-group nzPrefixIcon="" class="w-96 py-2">
              <input formControlName="mealTimeName" style="font-size: 20px; height: 38px;" nz-input placeholder="Name" class="p-2 text-xl" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
           
                
            </div>

            <div >
            <nz-form-item class="input-box-for-description">
                <nz-form-control  nzHasFeedback nzErrorTip="Please write something here!">
                    <label  nzRequired>Description</label>
                  <nz-textarea-count [nzMaxCharacterCount]="2000">
                    <textarea formControlName="description" nz-input rows="2" placeholder="write any thing" class="w-full text-xl"></textarea>
                  </nz-textarea-count>
                </nz-form-control>
              </nz-form-item>

            </div>
          </div>
            
           


           
            </form>
</div>  


<!-- <button nz-button nzType="primary" (click)="onSubmit()">Submit</button> -->
      <!-- forDay Select  -->

            <!-- //Upload a image -->

            <!-- <nz-upload
              class=""
              nzType="drag"
              [nzMultiple]="true"
              [nzLimit]="2"
              [nzSize]="600"
              [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
              nzAction="https://jsonplaceholder.typicode.com/posts/"
              (nzChange)="handleChange($event)">
              <p class="ant-upload-drag-icon">
                Upload Banner Image
              </p>
              <p class="ant-upload-text w-96">Click or drag file to this area to upload</p>
            </nz-upload> -->


            <!-- //Upload a image -->


            <!-- <nz-form-item class="absolute  bottom-5 right-16">
                <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
                  <button nz-button nzType="primary" class="w-52 h-12 rounded-md text-2xl text-center">Add</button>
                </nz-form-control>
              </nz-form-item> -->


     