td{
  font-size: 19px;
}

.Add-btn{
  width: 120px;
  /* text-align: center; */
  /* font-size: 20px; */
  background-color: #038851;
  /* margin-bottom: 15px; */
}
.Add-btn:hover{
  background-color: #05CC79;
}
.close-btn{
  width: 80px;
  /* text-align: center; */
  /* font-size: 15px; */
  background-color: #05CC79;
}
.close-btn:hover{
  background-color: #038851;
}

.delete-button,
.edit-button,
.add-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.delete-button {
  background-color: #e74c3c;
}

.edit-button {
  background-color: #f39c12;
}

.add-button {
  background-color: #2ecc71;
}

.delete-button:hover {
  background-color: #a11809;
}

.edit-button:hover {
  background-color: #ad6f0b;
}

.add-button:hover {
  background-color: #039741;
}

.add-button-container {
  float: right;
}

h2 {
  font-size: 24px;
  color: #1890ff;
  margin-bottom: 20px;
}



.sidebar-bg-color{
  background:#fff;
  height: 100vh;
  
  /* width: 25% !important;
  border: 1px solid black; */
}
nz-sider{
  width: 300px;
  color: black;
}
/* nz-sider:hover{
  color: #05CC79;
} */

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  
 
}

.trigger:hover {
  color: #05CC79;
}
ul li{
  font-size: 20px;
}


ul li:hover {
  color: #05CC79;
}
/* .hover-color:hover{
  color: #05CC79;
} */

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}



.flex{
  display: flex;
}
