  <h1 class="headerForMealTime">{{mealTimeName}}</h1>
  <!-- <button class="AddCategoryBtn" (click)="showModalForCreateCategory()"><span nz-icon nzType="plus" nzTheme="outline"></span>Add Category</button> -->


    <div *ngFor="let itemCategory of Object.keys(categorizedMenu)" style="margin-bottom: 25px;">
      
        <h2 *ngIf="categorizedMenu[itemCategory].length > 0"  class="category-heading"> <span> {{ itemCategory }}</span>
         <span nz-icon nzType="edit" nzTheme="outline" class="editBtn" (click)="editBtn(itemCategory)"></span>
          <span nz-icon nzType="close-circle" nzTheme="outline" class="deleteBtn" (click)="deleteBtn()" nz-button nz-dropdown [nzDropdownMenu]="menu"></span> 
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item class="hoverDelete" (click)="deleteFromThisMenu(itemCategory)" >Delete from this menu</li>
              <li nz-menu-item class="hoverDelete" (click)="deleteFromAllMenu(itemCategory)">Delete from all menu</li>
            </ul>
          </nz-dropdown-menu>
         
          <hr style=" border-top: 1px solid #038851;">       
        </h2>
        
    

      
      <div class="show-menus-items" *ngIf="categorizedMenu[itemCategory].length > 0">
        <div  class="AddBtnForCategory border border-light-gray" style="border:2px dashed gray;">
          <button (click)="OpenDrawerForCreateMenuItem(itemCategory)" class="AddBtnForCategoryIcon"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
        </div>
        <div *ngFor="let item of categorizedMenu[itemCategory]">
          <!-- Iterate over menu items in the current category -->
          <app-menu-item
          [menuitem]="item"
          [itemName]="item.item.itemName"
          [ingredients]="item.item.ingredients.rawIngredients"
          [recipes]="item.item.ingredients.recipes"
          [preparationTime]="item.item.itemPreparationTime"
          [id]="item._id"
          [src]="item.item.itemImage"
          [itemPrice]="item.item.itemPrice"
          [itemCalories]="item.item.itemCalories"
          [itemPortionSize]="item.item.itemPortionSize"
          [itemservingTemp]="item.item.servingTemperature"
          [itemLastingTime]="item.item.itemLastingTime"
          [timeOfDay]="item.item.timeOfDay"
          [itemProfileTastyTags] ="item.item.itemProfileTastyTags"
          [itemDietaryRestrictions]="item.item.itemDietaryRestrictions"
          ></app-menu-item> 
          <!-- [categoryName]="item.item.categoryName" -->
        </div>
      </div>
    </div>



       <!--For  Menu Item Drawer  -->
       <nz-drawer
       [nzBodyStyle]="{ overflow: 'auto' }"
       [nzMaskClosable]="false"
       [nzWidth]="1420"
       [nzVisible]="visible"
       nzTitle="Create Items"
       [nzFooter]="footerTpl"
       (nzOnClose)="close()"
     >
 
     
     <form nz-form *nzDrawerContent (ngSubmit)="createItems()">
      
       
       <create-menu-form #itemForm [categoryName]="nameOfCategory"></create-menu-form>
 
       
     </form>
 
     <ng-template #footerTpl>
       <div style="float: right; margin-right: 30px; ">
         <button nz-button style="margin-right: 8px;" (click)="close()"   class="close-btn">Cancel</button>
         <button nz-button nzType="primary"  (click)="createItems()" class="Add-btn">Add Item</button>
       </div>
     </ng-template>
       </nz-drawer>
    

   <!-- //For category  -->

   <nz-modal
   [(nzVisible)]="isVisibleForCategory"
   nzTitle="Edit category"
   nzOkText="Update"
   nzCancelText="Cancel"
   (nzOnOk)="handleOkForCategory()"
   (nzOnCancel)="handleCancelForCategory()"
   [nzStyle]="{ width: '900px' }"
 >
     <ng-container *nzModalContent>

      <form nz-form (ngSubmit)="submitFormForCategory()">
        <div nz-row [nzGutter]="8" class="mt" style="margin: 20px 0 10px 0">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label for="categoryName" style="width: 120px;font-size: 20px;  text-align: left; ">Category Name</nz-form-label>
              <nz-form-control>
                <input
                  nz-input
                  id="categoryName"
                  [(ngModel)]="categoryName"
                  name="categoryName"
                  placeholder="Enter category name"
                  style="font-size: 20px; height: 35px; width: 28rem;"

                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>  
      </form>
      
       
     </ng-container>
 </nz-modal>


 <nz-modal
      [(nzVisible)]="isVisibleForCreateCategory"
      nzTitle="Create category"
      nzOkText="Add"
      nzCancelText="Cancel"
      (nzOnOk)="handleOkForCreateCategory()"
      (nzOnCancel)="handleCancelForCreateCategory()"
      [nzStyle]="{ width: '900px' }"
    >
        <ng-container *nzModalContent>
          <!-- (submitedFormData)="submitForm($event)" -->
        <app-category-form  #modalFormForCategory></app-category-form>

        <!-- //Start -->

        <!-- //End -->
          
        </ng-container>
 </nz-modal>
