.image-upload-div{
    width: 60%;
    height: 30px;
    border: 1px solid red;
}
.mt{
    padding-top: 10px;
}
.border{
    border: 1px solid black !important;
    height: 30px;
    width: 100px;
}
.label{
    font-size: 30px;
}
.border-div{
    border: 2px solid red;
}